.toc {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 99;
}

.dropdown ul {
  max-height: 80vh;
  overflow: auto;
}

#prev {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}

#next {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

ul.none li {
  list-style: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 95vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
